<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-4">
      <h6>Employee Detail Entry Form</h6>
      <div class="outer-div">
        <div class="row">
          <div class="col-md-4">
            <label for="">Name :</label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Technology :</label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Designation :</label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Skills :</label>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option value="">Select</option>
              <option value="">Angular</option>
              <option value="">Dot Net</option>
              <option value="">Java</option>
              <option value="">React</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Core Expertise in :</label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Certification If Any :</label>
          </div>
          <div class="col-md-8">
            <input type="radio"> Yes
            <input type="radio"> No
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="">Company :</label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label for="">Few Line About Yourself :</label>
            <textarea rows="4" class="form-control mt-2"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="text-end">
              <button type="button" class="btn btn mx-2">Cancel</button>
              <button type="button" class="btn btn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <h6>Employee List</h6>
      <div class="outer-div">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option value="">Search by</option>
              <option value="">Angular</option>
              <option value="">Dot Net</option>
              <option value="">Java</option>
              <option value="">React</option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered border-dark">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Technology</th>
                  <th>Designation</th>
                  <th>Skill</th>
                  <th>Core Expertise</th>
                  <th>Company</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
